:root{
    --primary-color: #F6F7F8;
    --secondary-color: #011627;
    --accent-color-1: #FF3366;
    --accent-color-2: #2EC4B6;
    --accent-color-3: #20A4F3;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Funnel Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--primary-color);
}
header{
    display: grid;
    background-color: var(--accent-color-2);
}
header, main{
    margin: 0 auto;
}
.menu{
    background-color: #FF3366;
    margin: 0 auto;
    list-style: none;
}
h1, h2{
    font-family: "Jura", Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}
h1{
    text-align: center;
}
img{
    padding: 5px;
}
h2{
    background-color: var(--accent-color-3);
    color: var(--secondary-color);
}
footer{
    text-align: center;
    background-color: var(--accent-color-2);
    color: var(--secondary-color);
    padding: 2rem;
}
@media(min-width: 840px){
    .menu{
        max-width: 100%;
        flex-direction: row;
        padding: 15px;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: 1 1 100%;
    }
    a{
        display: block;
        text-align: center;
        pad: 1rem;
        text-decoration: none;
        color: var(--secondary-color);
        justify-content: center;
    }
    .active{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    nav a:hover{
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
    h1{
        padding-bottom: 5px;
    }
    h2{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        padding: 1rem 0;
        height: fit-content;
    }
    main{
        display: grid;
        height: 100vh;
        grid-template: auto 1fr auto / auto 1fr;
    }
    .card1, .card2, .card3{
        display: grid;
        border: 2px solid var(--secondary-color);
        border-radius: 10px;
        margin: 50px;
    }
    img{
        align-items: center;
    }
}