:root {
    --primary-color: #F6F7F8;
    --secondary-color: #011627;
    --accent-color-1: #FF3366;
    --accent-color-2: #2EC4B6;
    --accent-color-3: #20A4F3;
}

@media screen and (max-width: 824px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 4em;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 1em;
    }

    .nav-links.active {
        display: block;
    }
}